[Unit]
Description=minazuki auto game-mode daemon
After=dbus.service
Wants=dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/minazuki daemon
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
NoNewPrivileges=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target
